
body {
	display: grid;
	grid-template: 1fr 5fr / 2fr 4fr;
	
}
form {
	display: none;


}


label {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 800;
}

input {
	width: auto;
	height: auto;
	border: black solid 1px;	
}

