
* {
	font-family: 'Courier New', Courier, monospace;
	color: #0F0A0A;
}

body {
	height: 100vh;
	display: grid;
	grid-template: 1fr 5fr / 2fr 4fr;
	
}

#header {
	background-color: #D96C06;
	display: grid;
	width: 100%;
	grid-area: 1 / 1 / 2 / 3;
	grid-template: 1fr / 1fr 2fr;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

h1 {
	grid-area: 1 / 1 / 3 / 3;
	place-self: center;
}

button {
	width: 150px;
	height: 40px;
	grid-area: 1 / 1 / 2 / 2;
	place-self: center;
	background-color: #F5EFED;
	border: none;
	border-radius: 8px;
	font-weight: 900;
	font-size: 20px;
	

}

#card-container {
	display: grid;
	grid-area: 2 / 1 / 3 / 3;
	background-color: #2292A4;
	padding: 20px;
	border-bottom-right-radius: 8px;
}

#sidebar {
	background-color: #BDBF09;
	display: grid;
	grid-area: 2 / 1 / 3 / 2;
	grid-template: 1fr / 1fr;
	padding: 30px;
	border-bottom-left-radius: 8px

}

form {
	display: none;

}

#text-input-container {
	display: grid;
	grid-area: 1 / 1 / 2 / 2; 
}

#radio-container {
	display: grid; 
	grid-template: repeat(3, 1fr) / .1fr 1fr;
}

label {
	font-weight: 800;
	align-self: center;
	justify-self: start;
}

input[type="text"] {
	width: 300px;
	height: 25px;
	background-color: #F5EFED;	
	border: none;
}

#pages {
	width: 150px;
}

input[type="radio"] {
	align-self: center;
	justify-self: start;
}



#new-card {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	grid-template: 2fr 1fr / 1fr;
	background-color: #F5EFED;
	height: 150px;
	width: 200px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	padding: 20px;
	


}

button[type="submit"] {
	grid-area: 3 / 1 / 4 / 2;
	align-self: center;
	

}



#remove {
	grid-area: 2 / 1 / 3 / 2;
	font-size: 12px;
	background-color: #BDBF09;
	width: 75px;
	height: 25px;
	justify-self: end;
}
